# WordPress
WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=changeme

# MySQL
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=changeme

# Nuxt
NUXT_PUBLIC_WORDPRESS_URL=http://wordpress

# Nginx
NGINX_HOST=localhost
